<div class="row">
  <%= render 'sort' if current_user %>
</div>

<div class="row">
  <div class="small-10 small-centered large-8 columns" id="container">
    <div class="title center">Canada's #1 Source for Non-Flakey Musicians!</div>
    <div class="tag-line">
      Find musicians who play the instruments and genres you're interested in.<br/>
      Share your good and not-so-good experiences with other musicians.<br/>
      Start contacting people near you today!<br/>
        <% unless current_user %>
          <br/><%= link_to("Join Today", join_path, :class => "button radius") %>
        <% end %><br/>
    </div>
  </div>
</div>

<div class="row">
<br>
  <div id="users"><%= render 'users' %></div>

</div>
