<div class="row">
          <select id="sort">
            <option value="all">Everyone</option>
            <option value="near">Near Me</option>
          </select>
  <br>
</div>

<div class="row">
  <div class="large-2 medium-1 small-0 columns">&nbsp;</div>
  <div class="large-8 medium-10 small-12 columns" id="container">
    <div class="title center">Canada's #1 Source for Non-Flakey Musicians!</div>
    <div class="tag-line">
      Find musicians who play the instruments and genres you're interested in.<br/>
      Share your good and not-so-good experiences with other musicians.<br/>
      Start contacting people near you today!<br/>
        <% unless current_user %>
          <br/><%= link_to("Join Today", new_user_path, :class => "button radius") %>
        <% end %><br/>
    </div>
  </div>
  <div class="large-2 medium-1 small-0 columns">&nbsp;</div>
</div>

<div class="row">
<br>  
  <div id="users"><%= render 'users' %></div>     
   
</div>
