  <div class="row">
    <div class="large-3 columns medium-2 columns small-0 columns">
      <p>&nbsp;</p>
    </div>
    <div class="large-6 columns medium-8 columns small-12 columns">
	<h1>Register</h1>
    <h4>We will never sell your information. Ever!</h4>
</div>
<hr/>
<%= render 'form' %>

