<% if @invitation.errors.any? %>
  <div class="row">
    <div class="small-10 small-centered medium-8 large-uncentered large-6 columns">
        <div id="error_explanation">
          <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this message from being sent</h2>
        <ul>
          <% @invitation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
      </div>
    </div>
<% end %>