<div class="row">  
    <div class="large-8 columns">
<h1>Edit reference</h1>


  <%= link_to "Back to My References", user_references_path %> 

    <div id="edit-reference">  
      <%= render "users/edit_reference" %>
    </div>
  </div> 
</div>