
body{
	background-image: url('../images/fancy_deboss.png');
}

a:hover{
  transition: .5s;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Oranienbaum', serif;
}

*{
  font-family: 'Raleway', sans-serif;
}

li{
	list-style-type: none;
}

hr{
  margin-top: 1.0rem;
  margin-bottom: 0.5rem;
}

.button.tiny{
	color: #fff;
}

.button.radius{
  color: #fff;
}

.Positive{
  color: green;
}

.Neutral{
  color: gray;
}

.Negative{
  color: red;
}

.mini-photo{
  line-height: 42px;
}


.top-bar{
  background: -webkit-linear-gradient(top, #2e9bd4 0%, #116d9e 100%);
}

.top-bar ul.title-area li.name :hover{
  background: #116d9e;
}

.top-bar-section ul{
  background: -webkit-linear-gradient(top, #2e9bd4 0%, #116d9e 100%);
}

.top-bar-section li a:not(.button) {
  background: -webkit-linear-gradient(top, #2e9bd4 0%, #116d9e 100%) !important;
}

.top-bar-section li a:not(.button):hover {
  background: #116d9e !important;
}

.top-bar-section ul.right li{
  background: #2e9bd4;
}

#sort{
  float: right;
  max-width: 170px;
  border-radius: 5px;
  margin-right: 5px;
}

.required label {
    font-weight: bold;
}
.required label:after {
    color: #e32;
    content: '*';
    display:inline;
}

.unread_mail p{
  font-weight: bold;
}

.unread_mail td{
  font-weight: bold;
}

textarea{
   min-height: 110px;
}

textarea#invitation_content{
   min-height: 225px;
}